<% content_for(:title) { 'About page' } %>
<h4>RubyGardens – внутренний образовательный проект компании Altoros. Почему мы «растим» Ruby-разработчиков?</h4>
<ol>
  <li>Потому что в Altoros работает одна из самых крупных в Беларуси команда Ruby-разработчиков. Средний опыт работы в сфере IT у сотрудников отдела – 6 лет. 85% разработчиков – это специалисты Senior и Lead уровня.</li>
  <li>Потому что Altoros участвует в Ruby-проектах компаний с мировым именем (RightScale, Shoedazzle, Couchbase и другие), что дает возможность получения уникального опыта работы, профессионального и карьерного роста.</li>
  <li>Потому что мы любим Ruby, поддерживаем сообщество Ruby-разработчиков Беларуси и делаем все для развития данной технологии в нашей стране.
Данный набор – уже третий в RubyGardens. Сегодня наши выпускники работают на крупных проектах ведущих технологических компаний и строят успешную карьеру. Именно так все и получилось у Вадима Голуба, прошедшего у нас курс обучения прошлой зимой.</li>
</ol>
<p><img src="http://rubygardens.org/system/images/BAhbBlsHOgZmSSImMjAxMS8xMi8yMy8xMV81M18xM183MTFfU3RhcnQucG5nBjoGRVQ/Start.png" alt=""></p>

