<% content_for(:title) { 'Homepage' } %>
<div class="pagetitle"><h2>RubyGardens</h2>
<%= image_tag('logo_gardens.png') %>
</div>
<p></p>
<p>RubyGardens является сетью центров обучения, которые предоставляют возможность опытным разработчикам, владеющим различными языками программирования, пройти интенсивную переподготовку и стать Ruby девелопером.</p>
<p>Уже к этому абзацу будущим рубистам должно было наскучить читать информацию с налетом официоза, посему продолжим в более привлекательной манере.Если завтра вы проснетесь и решите, что Ruby является вашим призванием на ближайшие 50 лет, то прежде всего стоит начать со знакомства с людьми, с которыми вы, к гадалке не ходи, столкнетесь в первую очередь.</p>
<p>Александр. Садами, по сути дела, рулит он. 10 с небольшим хвостиком лет опыта в IT и страсть к Ruby помогают Александру в ежедневном высаживании деревьев, борьбе с сорняками и противостоянию с не всегда благоприятными погодными условиями.</p>
<p style="text-align:center"><img src="http://www.pnthr.com/wp-content/uploads/2012/03/rubylang.png" alt="" class="img-polaroid"></p>

