<% content_for(:title) { 'Who We Are' } %>
<h1>Who We Are</h1>
<ul>
  <% %w(paveltyk@gmail.com andrey.koleshko@altoros.com stanislav.knyazev@altoros.com).each do |email| %>
    <li><%= image_tag gravatar_url email %></li>
  <% end %>
</ul>