<% content_for(:title) { 'Who We Are' } %>
<div class="pagetitle"><h2>RubyGardens faces</h2></div>

<table class="table">
<% @emails.in_groups_of(2, false) do |row_emails| %>
  <tr>
    <% for email in row_emails %>
      <td><strong><%= gravatar_name email.mail %></strong></td>
      <td>
        <%= gravatar_url email.mail %>

      </td>
      
    <% end %>
  </tr>
<% end %>
</table>