<div class="show">
  <p class="alert notice"><%= notice %></p>
 <div class="pagetitle"><h2>Add email</h2> </div>

<%= render 'form' %>

<%= link_to 'Back', email_lists_path, :class => "btn btn-primary" %>
</div>